In [1]:
import argparse
import os
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [6]:
df = pd.read_csv('./output.csv.gz', compression='gzip')
df.head()

/tmp/ipykernel_125096/2026608576.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./output.csv.gz', compression='gzip')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [3]:
url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"

In [11]:
df.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,387007.000000,387007.000000,476386.000000,476386.000000,387007.000000,476386.000000,476386.000000,476386.000000,476386.000000,476386.000000,476386.000000,0.0,476386.000000,476386.000000,387007.000000,387005.000000,387007.000000
mean,1.833509,1.102104,108.789746,129.697575,1.308302,3.543614,15.782716,0.844550,0.486164,0.983024,0.317710,NaN,0.240391,18.986092,1.454666,1.023294,0.451301
std,0.372521,0.727587,71.420448,76.351002,0.967869,4.168409,14.100716,1.135181,0.089725,1.981928,2.177628,NaN,0.121327,15.621042,0.522706,0.150837,1.018531
min,1.000000,1.000000,1.000000,1.000000,0.000000,-6.930000,-200.000000,-4.500000,-0.500000,-80.800000,-12.500000,NaN,-0.300000,-200.000000,1.000000,1.000000,-2.750000
25%,2.000000,1.000000,55.000000,65.000000,1.000000,1.100000,7.000000,0.000000,0.500000,0.000000,0.000000,NaN,0.300000,9.000000,1.000000,1.000000,0.000000
50%,2.000000,1.000000,82.000000,129.000000,1.000000,2.070000,11.500000,0.500000,0.500000,0.000000,0.000000,NaN,0.300000,14.160000,1.000000,1.000000,0.000000
75%,2.000000,1.000000,166.000000,193.000000,1.000000,4.270000,20.730000,1.000000,0.500000,1.650000,0.000000,NaN,0.300000,24.620000,2.000000,1.000000,0.000000
max,2.000000,99.000000,265.000000,265.000000,9.000000,515.890000,2877.500000,8.250000,0.500000,158.520000,935.500000,NaN,0.300000,2878.300000,5.000000,2.000000,2.750000

In [14]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [18]:
for col in df.columns:
    print(col)
    print(df[col].unique())
    print('*'*5)

VendorID
[ 2.  1. nan]
*****
lpep_pickup_datetime
['2019-10-01 00:26:02' '2019-10-01 00:18:11' '2019-10-01 00:09:31' ...
 '2019-10-31 23:01:00' '2019-10-31 23:30:00' '2019-10-31 23:23:00']
*****
lpep_dropoff_datetime
['2019-10-01 00:39:58' '2019-10-01 00:22:38' '2019-10-01 00:24:47' ...
 '2019-10-31 23:47:00' '2019-10-31 23:24:00' '2019-10-31 23:56:00']
*****
store_and_fwd_flag
['N' 'Y' nan]
*****
RatecodeID
[ 1.  5.  4.  2.  3.  6. 99. nan]
*****
PULocationID
[112  43 255 181  97  65   7  41 130  24 129  18 223  75 134 260  83 226
  33 256  80  92 179 166 244  47  25  82  66  22  95  69  42  74 210 168
 126  61 116 152  29 225 243 242 247  78 173 193 188 127 123 171 132 167
 102 187 106  62   3   9 136 196 216 218 191 159  39 185 117 119 146  60
 212 215  89 145  55  70 189  10 228  49 236 241  57 248  36  40 208 257
  35  56 254  76 263 147 264 265  93 128  51   4 122  85  91 220 182  71
 192 252  67 227 174  72 207  37 121  52 197 203  21 213 169 108  26  17
 155 240 259  28 178 235 177 250 135 205  54 124 180 107 157  81 133  11
  14  77  20 131 258 165 198 170  31 154 183  96 141 139 195 200  19 238
  98  63  32 209  86 149 115 156 151 153 222  94 190  16 221  58 140  15
 175 125 219 150  79  46  34 114  90  88 164 184 261  53 160  45 217 120
  23  73  68 232 138  64   2 143 237 202 229 262  38  12 194 101 161 253
 137 201 233 172  59  30 239 148 246  48  87   1 144 142 231 162  50 186
 234 163 100 113 111  44 118  13 230 249 206  27 245 224 211 158   8 176
 251 204 214   6]
*****
DOLocationID
[196 263 228 181 188  49 179  74 131 160 169   7 262  42 116 134  92  56
  89 226  80  37 148  83 205 223  41 166 168  75 239 189 197 136 129 233
 157 130 231 192 265  29  73  82 161 146 151 220  40  61  60 243 244  69
 190  87 144 112 259  97  17  66 255 260 235 152 198  52  50 173 195  14
 102  25 127 257 108  36 119  28  18  95 145  79  70 230 107 236 237 167
  65 162 225 242 216 114 165 132   8 159 191  78 258 182 252 210 117 250
 187  47   4 164 193 246 238 215  19 229  21  24 264 140 138  68 256 170
 141  88 234 121 209 213  48 126 106 174 113 137  62  90 249 142 163  85
 185  55 241 143 227  13 177  33 207 147 200  76 186  12  45 202  43  53
 247 101  20 155  91 153 100 135 123 224 254 248 222  22  72 261 122  35
  26  77   3 240  98  39 219  10 218  71 133 125 253  86  81 178  57 203
 212  31 149  67 171   9 232 180  32 158 124 208 128   1 150 183  34  38
  51 175 120 211  64 217  94  16  63 115  11  58  93  54 139 201 221  15
  46 154 176 194  96 156 111  59  84 251 118 172  23  30  44 184 206 214
  27   6 245   5 204 109   2  99 105]
*****
passenger_count
[ 1.  2.  3.  5.  4.  6.  0.  7.  8.  9. nan]
*****
trip_distance
[ 5.88  0.8   7.5  ... 30.43 36.84 38.03]
*****
fare_amount
[ 18.     5.    21.5  ...  49.08 -32.44  60.15]
*****
extra
[ 0.5   3.25  0.    1.    2.75  3.75  0.8   4.5  -1.   -4.5  -0.5   4.
  5.5   8.25]
*****
mta_tax
[ 0.5   0.   -0.5   0.11  0.25]
*****
tip_amount
[0.   2.26 1.86 ... 5.84 8.07 4.97]
*****
tolls_amount
[ 0.0000e+00  2.8000e+00  6.1200e+00  2.1000e+01  1.0500e+01  8.4100e+00
  5.7600e+00  2.2900e+00  1.2500e+01  1.2240e+01  1.6620e+01  1.8620e+01
  2.2740e+01  1.3300e+01  1.8360e+01  2.6400e+00  2.7500e+00  5.6000e+00
  2.5000e+01  5.0900e+00  7.3100e+00  2.4480e+01  2.1600e+00  1.8000e+00
  4.5800e+00  2.4740e+01  1.5000e+01  3.0000e+00  2.7400e+00  1.8120e+01
  8.5000e+00  1.5500e+01  8.9200e+00  9.5000e+00  1.6120e+01  1.3000e+01
  1.0000e+00  4.3200e+00  1.8000e+01  1.4790e+01  4.5740e+01  3.1400e+00
  1.5300e+01  1.1520e+01  1.9500e+01  1.8500e+01  4.0000e+00  7.7800e+00
  8.4900e+00  1.0700e+01  2.1600e+01  3.9360e+01  2.8860e+01  9.3550e+02
  6.7500e+00  1.0000e-02  8.0000e-01  6.0000e+00  3.3300e+00  3.0000e+01
  1.4450e+01  1.9000e+00  7.5000e+00  1.8101e+02 -1.2500e+01  2.0000e+01
  1.1000e+01  5.0000e+00  6.1813e+02  1.7000e+01  2.4020e+01  5.8000e+00
  1.2000e+01  8.5100e+00  7.9200e+00  5.3900e+00  1.4530e+01  1.0000e+01
  1.8740e+01  1.7280e+01  5.5500e+00  2.1160e+01  7.8000e+00  2.0650e+01
  5.0400e+00  5.5000e+00  1.9240e+01  1.8240e+01  3.3240e+01  1.5040e+01
  8.0000e+00  8.8700e+00  1.5190e+01  4.3500e+00  5.2900e+00  8.4000e+00]
*****
ehail_fee
[nan]
*****
improvement_surcharge
[ 0.3  0.  -0.3]
*****
total_amount
[ 19.3    9.05  22.8  ... -40.28  35.64 -29.19]
*****
payment_type
[ 2.  1.  4.  3.  5. nan]
*****
trip_type
[ 1.  2. nan]
*****
congestion_surcharge
[ 0.    2.75  2.5  -2.75  0.75   nan]
*****

In [4]:
if url.endswith('.csv.gz'):
    csv_name = 'output.csv.gz'
else:
    csv_name = 'output.csv'

In [5]:
os.system(f"wget {url} -O {csv_name}")

--2025-01-26 19:26:41--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
302 Foundest sent, awaiting response...
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T002641Z&X-Amz-Expires=300&X-Amz-Signature=0b9d544269c7e3c6c2deb1d59863992f2ab068d09b80851d9d6ea642fec7a545&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-26 19:26:41--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250127T002641Z&X-Amz-Expires=300&X-Amz-Signature=0b9d544269c7e3c6c2deb1d59863992f2ab068d09b80851d9d6ea642fec7a545&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
200 OKequest sent, awaiting response...
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘output.csv.gz’

     0K .......... .......... .......... .......... ..........  0% 1.42M 5s
    50K .......... .......... .......... .......... ..........  1% 2.10M 5s
   100K .......... .......... .......... .......... ..........  1% 5.92M 3s
   150K .......... .......... .......... .......... ..........  2% 9.23M 3s
   200K .......... .......... .......... .......... ..........  3% 4.89M 3s
   250K .......... .......... .......... .......... ..........  3% 4.62M 2s
   300K .......... .......... .......... .......... ..........  4% 16.4M 2s
   350K .......... .......... .......... .......... ..........  4% 12.3M 2s
   400K .......... .......... .......... .......... ..........  5% 5.58M 2s
   450K .......... .......... .......... .......... ..........  6% 86.0M 2s
   500K .......... .......... .......... .......... ..........  6% 3.57M 2s
   550K .......... .......... .......... .......... ..........  7% 24.4M 2s
   600K .......... .......... .......... .......... ..........  8% 19.1M 1s
   650K .......... .......... .......... .......... ..........  8% 12.6M 1s
   700K .......... .......... .......... .......... ..........  9%  157M 1s
   750K .......... .......... .......... .......... ..........  9% 3.13M 1s
   800K .......... .......... .......... .......... .......... 10% 18.8M 1s
   850K .......... .......... .......... .......... .......... 11% 82.5M 1s
   900K .......... .......... .......... .......... .......... 11%  198M 1s
   950K .......... .......... .......... .......... .......... 12% 28.1M 1s
  1000K .......... .......... .......... .......... .......... 13% 27.4M 1s
  1050K .......... .......... .......... .......... .......... 13%  139M 1s
  1100K .......... .......... .......... .......... .......... 14%  186M 1s
  1150K .......... .......... .......... .......... .......... 14% 15.1M 1s
  1200K .......... .......... .......... .......... .......... 15%  103M 1s
  1250K .......... .......... .......... .......... .......... 16%  155M 1s
  1300K .......... .......... .......... .......... .......... 16% 9.46M 1s
  1350K .......... .......... .......... .......... .......... 17% 22.2M 1s
  1400K .......... .......... .......... .......... .......... 17% 88.8M 1s
  1450K .......... .......... .......... .......... .......... 18%  209M 1s
  1500K .......... .......... .......... .......... .......... 19% 8.43M 1s
  1550K .......... .......... .......... .......... .......... 19% 12.9M 1s
  1600K .......... .......... .......... .......... .......... 20% 9.18M 1s
  1650K .......... .......... .......... .......... .......... 21% 23.7M 1s
  1700K .......... .......... .......... .......... .......... 21%  198M 1s
  1750K .......... .......... .......... .......... .......... 22%  221M 1s
  1800K .......... .......... .......... .......... .......... 22% 11.1M 1s
  1850K .......... .......... .......... .......... .......... 23% 46.3M 1s
  1900K .......... .......... .......... .......... .......... 24% 17.7M 1s
  1950K .......... .......... .......... .......... .......... 24% 57.1M 1s
  2000K .......... .......... .......... .......... .......... 25% 21.1M 1s
  2050K .......... .......... .......... .......... .......... 26% 70.4M 1s
  2100K .......... .......... .......... .......... .......... 26% 11.5M 1s
  2150K .......... .......... .......... .......... .......... 27% 45.4M 1s
.. .......... .......... .......... .......... 27% 39.1M 1s
  2250K .......... .......... .......... .......... .......... 28%  355M 1s
  2300K .......... .......... .......... .......... .......... 29% 2.50M 1s
  2350K .......... .......... .......... .......... .......... 29% 96.7M 1s
  2400K .......... .......... .......... .......... .......... 30% 77.5M 1s
  2450K .......... .......... .......... .......... .......... 30% 23.7M 1s
  2500K .......... .......... .......... .......... .......... 31% 20.7M 0s
  2550K .......... .......... .......... .......... .......... 32%  150M 0s
  2600K .......... .......... .......... .......... .......... 32% 44.5M 0s
  2650K .......... .......... .......... .......... .......... 33%  339M 0s
  2700K .......... .......... .......... .......... .......... 34%  666M 0s
  2750K .......... .......... .......... .......... .......... 34%  685M 0s
  2800K .......... .......... .......... .......... .......... 35%  535M 0s
  2850K .......... .......... .......... .......... .......... 35%  716M 0s
  2900K .......... .......... .......... .......... .......... 36% 37.5M 0s
  2950K .......... .......... .......... .......... .......... 37% 77.3M 0s
  3000K .......... .......... .......... .......... .......... 37% 2.72M 0s
  3050K .......... .......... .......... .......... .......... 38%  340M 0s
  3100K .......... .......... .......... .......... .......... 39%  414M 0s
  3150K .......... .......... .......... .......... .......... 39% 29.3M 0s
  3200K .......... .......... .......... .......... .......... 40% 34.7M 0s
  3250K .......... .......... .......... .......... .......... 40%  346M 0s
  3300K .......... .......... .......... .......... .......... 41% 6.67M 0s
  3350K .......... .......... .......... .......... .......... 42%  155M 0s
  3400K .......... .......... .......... .......... .......... 42%  324M 0s
  3450K .......... .......... .......... .......... .......... 43%  359M 0s
  3500K .......... .......... .......... .......... .......... 43% 19.5M 0s
  3550K .......... .......... .......... .......... .......... 44% 2.29M 0s
  3600K .......... .......... .......... .......... .......... 45%  198M 0s
  3650K .......... .......... .......... .......... .......... 45%  220M 0s
  3700K .......... .......... .......... .......... .......... 46%  352M 0s
  3750K .......... .......... .......... .......... .......... 47%  363M 0s
  3800K .......... .......... .......... .......... .......... 47%  114M 0s
  3850K .......... .......... .......... .......... .......... 48%  314M 0s
  3900K .......... .......... .......... .......... .......... 48%  349M 0s
  3950K .......... .......... .......... .......... .......... 49% 40.1M 0s
  4000K .......... .......... .......... .......... .......... 50% 79.2M 0s
  4050K .......... .......... .......... .......... .......... 50%  341M 0s
  4100K .......... .......... .......... .......... .......... 51% 30.1M 0s
  4150K .......... .......... .......... .......... .......... 52%  182M 0s
  4200K .......... .......... .......... .......... .......... 52%  337M 0s
  4250K .......... .......... .......... .......... .......... 53% 22.7M 0s
  4300K .......... .......... .......... .......... .......... 53%  190M 0s
  4350K .......... .......... .......... .......... .......... 54% 32.3M 0s
  4400K .......... .......... .......... .......... .......... 55%  303M 0s
  4450K .......... .......... .......... .......... .......... 55% 55.4M 0s
  4500K .......... .......... .......... .......... .......... 56% 2.57M 0s
  4550K .......... .......... .......... .......... .......... 57% 18.0M 0s
  4600K .......... .......... .......... .......... .......... 57% 37.3M 0s
  4650K .......... .......... .......... .......... .......... 58% 15.7M 0s
  4700K .......... .......... .......... .......... .......... 58% 33.8M 0s
  4750K .......... .......... .......... .......... .......... 59%  182M 0s
  4800K .......... .......... .......... .......... .......... 60% 27.3M 0s
  4850K .......... .......... .......... .......... .......... 60%  371M 0s
  4900K .......... .......... .......... .......... .......... 61% 35.4M 0s
  4950K .......... .......... .......... .......... .......... 61% 20.6M 0s
  5000K .......... .......... .......... .......... .......... 62% 35.7M 0s
  5050K .......... .......... .......... .......... .......... 63% 96.2M 0s
  5100K .......... .......... .......... .......... .......... 63% 17.7M 0s
  5150K .......... .......... .......... .......... .......... 64% 67.8M 0s
  5200K .......... .......... .......... .......... .......... 65% 19.7M 0s
  5250K .......... .......... .......... .......... .......... 65%  347M 0s
  5300K .......... .......... .......... .......... .......... 66% 17.1M 0s
  5350K .......... .......... .......... .......... .......... 66% 38.6M 0s
  5400K .......... .......... .......... .......... .......... 67% 5.19M 0s
  5450K .......... .......... .......... .......... .......... 68%  296M 0s
  5500K .......... .......... .......... .......... .......... 68% 51.2M 0s
  5550K .......... .......... .......... .......... .......... 69% 5.85M 0s
  5600K .......... .......... .......... .......... .......... 70%  281M 0s
  5650K .......... .......... .......... .......... .......... 70%  361M 0s
  5700K .......... .......... .......... .......... .......... 71%  217M 0s
  5750K .......... .......... .......... .......... .......... 71%  372M 0s
  5800K .......... .......... .......... .......... .......... 72%  319M 0s
  5850K .......... .......... .......... .......... .......... 73% 29.8M 0s
  5900K .......... .......... .......... .......... .......... 73%  261M 0s
  5950K .......... .......... .......... .......... .......... 74%  294M 0s
  6000K .......... .......... .......... .......... .......... 74% 13.0M 0s
  6050K .......... .......... .......... .......... .......... 75%  322M 0s
  6100K .......... .......... .......... .......... .......... 76% 3.23M 0s
  6150K .......... .......... .......... .......... .......... 76%  116M 0s
  6200K .......... .......... .......... .......... .......... 77%  362M 0s
  6250K .......... .......... .......... .......... .......... 78%  415M 0s
  6300K .......... .......... .......... .......... .......... 78% 89.7M 0s
  6350K .......... .......... .......... .......... .......... 79%  334M 0s
  6400K .......... .......... .......... .......... .......... 79%  321M 0s
  6450K .......... .......... .......... .......... .......... 80%  131M 0s
  6500K .......... .......... .......... .......... .......... 81%  334M 0s
  6550K .......... .......... .......... .......... .......... 81%  230M 0s
  6600K .......... .......... .......... .......... .......... 82%  210M 0s
  6650K .......... .......... .......... .......... .......... 83% 10.7M 0s
  6700K .......... .......... .......... .......... .......... 83% 7.48M 0s
  6750K .......... .......... .......... .......... .......... 84% 21.2M 0s
  6800K .......... .......... .......... .......... .......... 84%  141M 0s
  6850K .......... .......... .......... .......... .......... 85%  253M 0s
  6900K .......... .......... .......... .......... .......... 86% 20.7M 0s
  6950K .......... .......... .......... .......... .......... 86% 46.8M 0s
  7000K .......... .......... .......... .......... .......... 87%  273M 0s
  7050K .......... .......... .......... .......... .......... 87% 14.7M 0s
 .......... .......... .......... 88% 31.5M 0s
  7150K .......... .......... .......... .......... .......... 89%  282M 0s
  7200K .......... .......... .......... .......... .......... 89% 11.6M 0s
  7250K .......... .......... .......... .......... .......... 90%  174M 0s
  7300K .......... .......... .......... .......... .......... 91% 6.87M 0s
  7350K .......... .......... .......... .......... .......... 91% 10.8M 0s
  7400K .......... .......... .......... .......... .......... 92%  160M 0s
  7450K .......... .......... .......... .......... .......... 92%  365M 0s
  7500K .......... .......... .......... .......... .......... 93%  400M 0s
  7550K .......... .......... .......... .......... .......... 94% 36.7M 0s
  7600K .......... .......... .......... .......... .......... 94%  293M 0s
  7650K .......... .......... .......... .......... .......... 95%  399M 0s
  7700K .......... .......... .......... .......... .......... 96%  259M 0s
  7750K .......... .......... .......... .......... .......... 96% 39.4M 0s
  7800K .......... .......... .......... .......... .......... 97% 62.5M 0s
  7850K .......... .......... .......... .......... .......... 97% 28.4M 0s
  7900K .......... .......... .......... .......... .......... 98% 23.8M 0s
  7950K .......... .......... .......... .......... .......... 99% 33.0M 0s
  8000K .......... .......... .......... .......... .......... 99%  148M 0s
  8050K .......... ........                                   100%  400M=0.4s

2025-01-26 19:26:42 (18.2 MB/s) - ‘output.csv.gz’ saved [8262584/8262584]

0

In [30]:
# batch data into chunks for import
df_iter = pd.read_csv(csv_name, compression='gzip', low_memory=False, iterator=True, chunksize=100000)

In [34]:
df_iter.peeklines(1)

AttributeError: 'TextFileReader' object has no attribute 'peeklines'

In [25]:
df = next(df_iter)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1,95,95,1,0.85,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1,74,41,1,0.53,6.0,0.00,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1,75,141,1,1.94,13.0,0.00,0.5,2.98,0.0,NaN,0.3,19.53,1,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1,33,33,1,0.89,6.0,0.00,0.5,1.36,0.0,NaN,0.3,8.16,1,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1,33,40,1,1.24,7.0,0.00,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0,0.00

In [33]:
df_test = df_iter.peeklines(n=1)
df_test

AttributeError: 'TextFileReader' object has no attribute 'peeklines'

In [31]:
# Check number of records in each chunk
while True:
    t_start = time()
    
    df = next(df_iter)
    
    print(len(df))
    
    t_end = time()
    print('Chunk inserted..., took %.3f seconds' % (t_end - t_start))

100000
Chunk inserted..., took 0.278 seconds
100000
Chunk inserted..., took 0.237 seconds
100000
Chunk inserted..., took 0.234 seconds
100000
Chunk inserted..., took 0.180 seconds
76386
Chunk inserted..., took 0.109 seconds

StopIteration:

In [14]:
# Convert dates to datetime
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [15]:
df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [18]:
df.shape

(476386, 20)

In [16]:
import datetime as dt
start_date = dt.datetime(2019, 10, 1)
end_date = dt.datetime(2019, 10, 31)

In [17]:
filtered_df = df[df['lpep_pickup_datetime'].between(start_date, end_date)]
filtered_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [6]:
# review zone data
df_zone = pd.read_csv('taxi_zone_lookup.csv')
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]